<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header">
        <a href="/finances/portfolio">Portfolio</a>
        <br>
        <a href="/finances/shares">Shares</a>
        <a href="/finances/etfs">ETFs</a>
        <a href="/finances/bonds">Bonds</a>
        <a href="/finances/companies">Companies</a>
        <a href="/finances/currencies">Currencies</a>
        <a href="/finances/stocks">Stock exchanges</a>
        <br>
        <a href="/finances/operations">Operations</a>
        <HR>
    </div>
</body>
</html>